<div class="container">
  
  <div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <p>
          <a href="#" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> Login via Twitter</a>
          <a href="#" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
          <span class="bg-light">OR</span>
      </p>
      <form>

<!-- Full Name// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
    </div>
    <input name="" class="form-control" placeholder="Full name" type="text" name="name"[(ngModel)]="name">
    <div class="error">{{ errorMsg1 }}</div>
</div> 

<!-- Email// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
    </div>
    <input name="" class="form-control" placeholder="Email address" name="email" type="email" [(ngModel)]="email">
    <div class="error">{{ errorMsg2 }}</div>
</div>
<!--  phone number-->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
    </div>
    <input name="" class="form-control" placeholder="Phone number" name="number" type="text" [(ngModel)]="number" >
    <div class="error">{{ errorMsg3 }}</div>
</div>

       
<!-- Gender// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
    </div>
    <select class="form-control">
    <option selected=""> Select Gender</option>
    <option>Male</option>
    <option>Female</option>
    <option>Other</option>
</select>


</div> <!-- Password// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    </div>
    <input class="form-control" placeholder="Create password" type="password" name="password"  [(ngModel)]="password">
    <div class="error">{{ errorMsg4 }}</div>
</div>

<!-- Repeat Password// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    </div>
    <input class="form-control" placeholder="Repeat password" type="password" name="cpassword" [(ngModel)]="cpassword">
    <div class="error">{{ errorMsg5 }}</div>
</div>

<!-- form-group// -->                                      
<div class="form-group">
  
   
<button type="submit" class="btn btn-primary col-lg-12" (click)="signup()">Create An Account</button>
</div> <!-- form-group// -->      
<p class="text-center">Have an account? <a href="#">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->