<section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
      <form>
          <div class="form-group">
              <img src="../../assets/check.png">
              </div>
              <div class="mail">
                  Forget Password Confirmation <br><br>
               </div>
      
            <small id="emailHelp" class="form-text text-muted">As per your request, you will receive an email with a temporary passwords. Use this password to login. Once you loggied in you will be able to change your password.</small><br>
            <button type="button" class="btn btn-primary btn-block" routerLink="/regiconfirm" routerLinkActive="active" ariaCurrentWhenActive="page"> Continue  </button>
    
          </form>

  </div>
</section>