<section class="joinnow">
    <div class="login col-lg-4 m-auto shadow-lg">
        <form>
            <div class="form-group">
                <img src="../../assets/check.png">
                </div>
                <div class="mail">
                    Thank you for Your Registration<br><br>
                 </div>
        
              <small id="emailHelp" class="form-text text-muted">We have sent email to name@gmail.com to confirmation. Please confirm your email to activate your account</small><br>
              <button type="button" class="btn btn-primary btn-block" routerLink="/joinnow" routerLinkActive="active" ariaCurrentWhenActive="page"> Continue  </button>
      
            </form>

    </div>
</section>