*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
}
body{
    background-color: #fff3f3;;
    
}
nav {
    background-color: white;
    position: relative;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 15px 3px rgba(0, 0, 0, 0.15);
}
.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Logo */
.logo {
    text-decoration: none;

}
  
.nav-logo {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;

}

.nav-logo img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 1100%;
}

.nav-logo p {
    margin-left: 10px;
    font-size: 1.5rem;
    color: #fffafa;
    font-weight: 400;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 73%;
}

.nav-logo span {
    color: #556fb6;
    font-weight: bold;
}
.nav-logo spans {
    color: #b438b4;
    font-weight: bold;
    }
/* Navbar */
nav {
    background-color: white;
    background: linear-gradient(to right, #00093c, #2d0b00);;
    position: relative;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0%;
    box-shadow: 0px 1px 15px 3px rgba(0, 0, 0, 0.15);
}

.nav-container {
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;

}
/* Links */
.nav-links {
display: flex;
padding: 0px;
list-style: none;
text-transform: uppercase;
position: absolute;
left: 30%;
}
.nav-link {
padding: 12px 16px;
border-radius: 3px;
transition: 0.1s;

}
.nav-link a {
text-decoration: none;
color: #5e5e5e;
font-weight: 600;
font-size: 1rem;
text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

}


.nav-link:hover {
background-color: rgb(245, 245, 245);
}

/* Dropdown */
.dropdown {
    position: relative;
  }
  
  #dropdown-link {
    cursor: pointer;
  }
  
  .dropdown .dropdown-menu {
    position: absolute;
    padding: 0;
    width: 130px;
    padding: 10px;
    align-items: center;
    font-size: 0.9rem;
    left: 1px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: none;
  }
  
  .dropdown .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu li {
    list-style: none;
  }
  
  .dropdown-menu .dropdown-item {
    display: block;
    text-transform: none;
    font-weight: 500;
    margin: 5px 5px;
  }
  
  .dropdown-menu .dropdown-item:hover {
    color: #118a84;
  }
  /* Dropdowns */
.dropdowns {
    position: relative;
  }
  
  #dropdown-links {
    cursor: pointer;
  }
  
  .dropdowns .dropdown-menus {
    position: absolute;
    padding: 0;
    width: 130px;
    padding: 10px;
    align-items: center;
    font-size: 0.9rem;
    left: 1px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: none;
  }
  
  .dropdowns .dropdown-menus.show {
    display: block;
  }
  
  .dropdown-menus li {
    list-style: none;
  }
  
  .dropdown-menus .dropdown-items {
    display: block;
    text-transform: none;
    font-weight: 500;
    margin: 5px 5px;
  }
  
  .dropdown-menus .dropdown-item:hover {
    color: #118a84;
  }
/* Button login */
.nav-button {
    display: flex;
    position: absolute;
    left: 85%;
  }
  
  .btn-login {
    font-size: 1rem;
    padding: 8px 24px;
    background-color: #fff;
    border: 1px solid #242222;
    color: #1f2b38;
    border-radius: 3px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .btn-login:hover {
    color: #fff;
    
  }
  
 
  
  .btn-register:hover {
    opacity: 0.7;
  }  
/* Button Sign Up */
.nav-buttons {
    display: flex;
    position: absolute;
    left: 92%;
  }
  
  .btn-signup {
    font-size: 1rem;
    padding: 8px 24px;
    background-color: #fff;
    border: 1px solid #242222;
    color: #1f2b38;
    border-radius: 3px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .btn-signup:hover {
    color: #fff;
    
  }
  
 
  
  .btn-register:hover {
    opacity: 0.7;
  } 

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    top: 140px;
    right: 40px;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
/*---------------------------------------------Welcome------------------------------------------------------*/


.welcome-text{
    width: 570px;
    text-align: center;
    color: #000;
}
.text-box{
    height: 12%;
    width: 90%;
    color: #000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 80px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 19px;
    color: #000;
    text-align: justify;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.img-three{
    width: 700px;
    height: 350px;
    position: absolute;
    top: 10px;
    right: 100px;
    border-radius: 10px;
}

/*---------------------------------------------Highlights------------------------------------------------------*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: absolute;
    top: 80%;
    left: 20px;
    left: 10%;
}
h1{
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: #000;
}
p{
    color:#000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
 .row{
     margin: 5%;
     display: flex;
     justify-content: space-between;
}
 .course-col{
     flex-basis: 31%;
     background: #fff3f3;
     border-radius: 10px;
     margin-bottom: -10%;
     padding: 1px 5px;
     box-sizing: border-box;
     transition: 0.5s;
}
.course-col h1{
    color: #000;
}
.course-col p{
    color: #000;
}
h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.course-1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: absolute;
    top: 130%;
    left: 10%;
}
h1{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
    
}

p1{
    color: #000;
    font-size: 60px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}
.row-1{
     margin: 5%;
     display: flex;
     justify-content: space-between;
 }
 .course-col-1{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 1px 5px;
    box-sizing: border-box;
    transition: 0.5s;
}

 h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
 }
 /*---------------------------------------------footer------------------------------------------------------*/

footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: 50px;
}
.list-group{
    width: 200px;
    margin: 50px auto;
}
.list-item{
    text-decoration: none;
    color: #fff;
    width: 50%;
    display: block;
    padding: 8px;
    font-size: 20px;
    position: relative;
    top: 70px;
    left: 50px;
    
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 5px;

}
.centerdiv{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: right;
   
}
.list-item-1{
    text-decoration: none;
    color: #fff;
    width: 10%;
    display: block;
    padding: 8px;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 500px;
}
.centerdiv-2{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: right;
   
}
.list-item-2{
    text-decoration: none;
    color: #fff;
    width: 10%;
    display: block;
    padding: 8px;
    font-size: 20px;
    position: relative;
    top: -10px;
    left: 1100px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
/*---------------------------------------------footer------------------------------------------------------*/

footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: 1400px;
}
.list-group{
    width: 200px;
    margin: 50px auto;
}
.list-item{
    text-decoration: none;
    color: #fff;
    width: 50%;
    display: block;
    padding: 8px;
    font-size: 20px;
    position: relative;
    top: 70px;
    left: 50px;
    
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 5px;

}
.centerdiv{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: right;
   
}
.list-item-1{
    text-decoration: none;
    color: #fff;
    width: 10%;
    display: block;
    padding: 8px;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 500px;
}
.centerdiv-2{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: right;
   
}
.list-item-2{
    text-decoration: none;
    color: #fff;
    width: 10%;
    display: block;
    padding: 8px;
    font-size: 20px;
    position: relative;
    top: -10px;
    left: 1100px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}







