<section class="joinnow">
    <div class="login col-lg-4 m-auto shadow-lg">
        <form>
            <div class="form-group">
            <h3> ABC JOBS </h3>
            </div>
             
             <div class="mail">
                Verify your Email Address<br><br>
             </div>
        
              <small id="emailHelp" class="form-text text-muted">Please verify that name@gmail.com is your email address by clicking the button bellow</small><br>
              
            <button type="submit" class="btn btn-primary col-lg-12" routerLink="/regiconfirm" routerLinkActive="active" ariaCurrentWhenActive="page">Confirm Email</button>
          </form>

    </div>
</section>